/* .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px; 
} */

.add-admin-btn {
  background-color: #f00; /* Primary button color */
  color: #fff;
  border: none;
  padding: 10px 20px;

  border-radius: 5px;
}

.edit-icon {
  color: #007bff; /* Edit icon color */
  cursor: pointer;
}

.delete-icon {
  color: #dc3545; /* Delete icon color */
  cursor: pointer;
}
#sales_charts {
  text-align: center;
}

.bar-chart {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 200px;
  margin: 20px 0;
}

.bar {
  width: 30px;
  background-color: rgb(75, 192, 192);
  margin: 0 10px;
}

.labels {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.labels span {
  width: 50px;
  text-align: center;
}
